@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vai&family=Shadows+Into+Light&display=swap');

* {
    color: #fff;
    font-family: "Noto Sans Vai", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #444654;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 35px;
    font-weight: 500px;
    padding: 200px 0;
}

.side-bar {
    width: 10%;
    background-color: #2c2c3a;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100vh;
}

.bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    padding: 10px;
}

input {
    border: node;
    background-color: rgba(255, 255, 255, 0.05);
    width: 100%;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.05) 0 0.5px 0.5px;
}

input:focus {
    outline: none;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 800px;
}

.input-container #submit {
    position: absolute;
    right: 0;
    bottom: 15px;
    cursor: pointer;
}

.input-container #submit:hover {
    opacity: 0.7;
}

.input-container #submit:active {
    opacity: 0.5;
}

.input-container #submit:focus {
    outline: none;
}

button {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.5;
}

button:focus {
    outline: none;
}

nav {
    border-top: solid 0.5px rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}

.history {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.history p {
    cursor: pointer;
}
